{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Block Chain Cloud Service">
    <meta name="author" content="Baohua Yang">
    <link rel="icon" href="../static/img/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/paginate.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">#}

<!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="../static/css/fix_glyphicons.css" rel="stylesheet">
-->


<!-- Latest compiled and minified CSS -->

</head>

<body>

{% block body %}
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"> </script>
{#<script src="{{ url_for('static', filename='js/script.js') }}"> </script>#}
{#<script src="{{ url_for('static', filename='js/bootbox.min.js') }}"> </script>#}
{#<script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}"> </script>#}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>
{#<script src="{{ url_for('static', filename='js/validator.js') }}"> </script>#}
{#<script src="{{ url_for('static', filename='js/tether.min.js') }}"> </script>#}
{#<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
{#<script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"> </script>#}
{#<script src="{{ url_for('static', filename='js/highcharts.js') }}"> </script>#}
{#<script src="{{ url_for('static', filename='js/highcharts-more.js') }}"> </script>#}
{#<script src="{{ url_for('static', filename='js/solid-gauge.js') }}"> </script>#}
{#<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"> </script>#}
{#<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"> </script>#}
<script src="{{ url_for('static', filename='js/custom.js') }}"> </script>
{% block custom_js %}
{% endblock %}

</body>
</html>