{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Block Chain Cloud Service">
    <meta name="author" content="Baohua Yang">
    <link rel="icon" href="../static/img/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pnotify/pnotify.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pnotify/pnotify.buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pnotify/pnotify.nonblock.css') }}">

<!-- Latest compiled and minified CSS -->

</head>

<body>

{% block body %}
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"> </script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>
<script src="{{ url_for('static', filename='js/pnotify/pnotify.js') }}"> </script>
<script src="{{ url_for('static', filename='js/pnotify/pnotify.buttons.js') }}"> </script>
<script src="{{ url_for('static', filename='js/pnotify/pnotify.nonblock.js') }}"> </script>
<script src="{{ url_for('static', filename='js/custom.js') }}"> </script>
{% block custom_js %}
{% endblock %}

</body>
</html>