{% extends "layout.html" %}
{% block title %}Clusters{% endblock %}
{% block body %}
{{ super() }}
    {% if col_name == "active" %}
        <h1 class="page-header">Active Clusters ({{items_count}})</h1>
    {% else %}
        <h1 class="page-header">Released Clusters ({{items_count}})</h1>
    {% endif %}

    {% if items_count > 0 %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>user_id</th>
                    <th>api_url</th>
                    <th>host_id</th>
                    <th>create_ts</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    {% if item.user_id and col_name=="active" %}
                        <tr bgcolor="#add8e6">
                            {% else %}
                        <tr>
                    {% endif %}
                <td><a href="/cluster_info/{{item.id}}">{{item.name}}</a></td>
                <td>{{item.user_id}}</td>
                <td>{{item.api_url}}</td>
                <td>{{item.host_id}}</td>
                <td>{{item.create_ts}}</td>
                <td><input value="Delete" type="button"
                           class="btn btn-xs btn-small btn-danger delete_cluster_button"
                           id_data="{{item.id}}" col_name="{{col_name}}"/>
                </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ pagination.info }}
            {{ pagination.links }}
        </div>
    {% endif %}

{% endblock %}