{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block body %}
{{ super() }}
<h2>Cluster Infomation</h2>
<div class="container">
    <dl class="dl-horizontal">
        <dt>Id<dt> <dd>{{cluster.id}}</dd>
        <dt>Name<dt> <dd>{{cluster.name}}</dd>
        <dt>API URL<dt> <dd>{{cluster.api_url}}</dd>
        <dt>Docker Host<dt> <dd>{{cluster.daemon_url}}</dd>
        <dt>Create Time<dt> <dd>{{cluster.create_ts}}</dd>
        <dt>Apply Time<dt> <dd>{{cluster.apply_ts}}</dd>
        <dt>User Id<dt> <dd>{{cluster.user_id}}</dd>
        <dt>Release Time<dt> <dd>{{cluster.release_ts}}</dd>
    </dl>
</div>

{% endblock %}