{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block body %}
{{ super() }}
<h2>Cluster Information</h2>
<div class="container-fluid">
    <dl class="dl-horizontal">
        <dt>Id<dt> <dd>{{item.id}}</dd>
        <dt>Name<dt> <dd>{{item.name}}</dd>
        <dt>API URL<dt> <dd>{{item.api_url}}</dd>
        <dt>Consensus Type<dt> <dd>{{item.consensus_type}}</dd>
        <dt>Docker Host<dt> <dd>{{item.host_id}}</dd>
        <dt>Create Time<dt> <dd>{{item.create_ts}}</dd>
        <dt>Apply Time<dt> <dd>{{item.apply_ts}}</dd>
        <dt>User Id<dt> <dd>{{item.user_id}}</dd>
        <dt>Release Time<dt> <dd>{{item.release_ts}}</dd>
        <dt>Containers<dt> <dd> {{item.containers}} </dd>
    </dl>
    <div class="container-fluid">
        {% if item.release_ts %}
        <input value="Delete" type="button"
               class="btn btn-danger btn-default btn-primary delete_cluster_button"
               data-id="{{item.id}}" release="1"/>
        {% else %}
            <input value="Delete" type="button"
                   class="btn btn-danger btn-default btn-primary delete_cluster_button"
                   data-id="{{item.id}}"/>
        {% endif %}
    </div>
</div>

{% endblock %}