{% extends "layout.html" %}
{% block title %}Clusters{% endblock %}
{% block body %}
{{ super() }}
    <h1 class="page-header">Hosts ({{items_count}})</h1>

    {% if items_count > 0 %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Daemon_url</th>
                    <th>Capacity</th>
                    <th>Created</th>
                    <th>Status</th>
                    <th>Clusters</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    {% if item.status != "active" %}
                        <tr bgcolor="#add8e6">
                            {% else %}
                        <tr>
                    {% endif %}
                <td><a href="/host_info/{{item.id}}">{{item.name}}</a></td>
                <td>{{item.daemon_url}}</td>
                <td>{{item.capacity}}</td>
                <td>{{item.create_ts}}</td>
                <td>{{item.status}}</td>
                <td>{{item.clusters}}</td>
                <td><input value="Delete" type="button"
                           class="btn btn-xs btn-small btn-danger
                           delete_host_button"
                           id_data="{{item.id}}"/>
                </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}