{% extends "layout.html" %}
{% block title %}Host Info{% endblock %}
{% block body %}
{{ super() }}
<h2>Host Information</h2>
<div class="container-fluid">
    <dl class="dl-horizontal">
        <dt>Id<dt> <dd>{{item.id}}</dd>
        <dt>Name<dt> <dd>{{item.name}}</dd>
        <dt>Status<dt> <dd>{{item.status}}</dd>
        <dt>Type<dt> <dd>{{item.type}}</dd>
        <dt>Capacity<dt> <dd>{{item.capacity|string}}</dd>
        <dt>Host URL<dt> <dd>{{item.daemon_url}}</dd>
        <dt>Create Time<dt> <dd>{{item.create_ts}}</dd>
        <dt>Clusters<dt> <dd>
        {% for c in item.clusters %}
           <a href="/cluster_info/{{ c }}">{{ c }}</a><br>
        {% endfor %}
    </dd>
    </dl>
    <div class="container-fluid">
        {% if item.clusters|length >= item.capacity %}
        <input value="Fillup" type="button" title="Fill up this host to its
        capacity = {{ item.capacity|string }}" disabled
               class="btn btn-default btn-primary fillup_host_button"
               data-id="{{item.id}}"/>
        {% else %}
            <input value="Fillup" type="button" title="Fill up this host to its
        capacity = {{ item.capacity|string }}"
                   class="btn btn-default btn-primary fillup_host_button"
                   data-id="{{item.id}}"/>
        {% endif%}
    <input value="Clean" type="button" title="Clean unused blockchains at
     this host"
           class="btn btn-danger btn-default btn-primary clean_host_button"
           data-id="{{item.id}}"/>
    </div>
</div>

{% endblock %}