{% extends "layout.html" %}
{% block title %}Clusters{% endblock %}
{% block body %}
{{ super() }}
     <!-- Glyphicon in a H1 tag -->
    <h2 class="page-header">Hosts: {{items_count}} <button
            type="button" class="btn btn-primary btn-success btn-default pull-sm-right" data-toggle="modal" data-target="#newHostModal">Add Host</button></h2>

    {% if items_count > 0 %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Capacity</th>
                    <th>Daemon_url</th>
                    <th>Clusters</th>
                    <th>Created</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    {% if item.status != "active" %}
                        <tr bgcolor="#add8e6">
                    {% else %}
                        <tr>
                    {% endif %}
                <td><a href="/host_info/{{item.id}}">{{item.name}}</a></td>
                <td>{{item.type|upper}}</td>
                <td>{{item.capacity|string}}</td>
                <td>{{item.daemon_url}}</td>
                <td>{{item.clusters|length}}</td>
                <td>{{item.create_ts}}</td>
                <td>{{item.status}}</td>
                <td>
                    <button type="button" data-id="{{item.id}}"
                            class="btn btn-xs btn-sm
                    btn-primary btn-info btn-default edit_host_button">
                        <span class="glyphicon glyphicon-cog"
                              aria-hidden="true"></span>
                    </button>
                    {% if item.clusters|length <= 0 %}
                        <button type="button" class="btn btn-xs btn-sm btn-danger"
                                aria-label="Left Align"
                                data-id="{{item.id}}"
                                data-title="{{ item.name }}"
                                data-toggle="modal"
                                data-target="#delete_host_confirm" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-xs btn-sm btn-danger"
                                aria-label="Left Align"
                                data-id="{{item.id}}"
                                data-title="{{ item.name }}"
                                data-toggle="modal"
                                data-target="#delete_host_confirm" disabled>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    {% endif %}
                </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

   <!-- The form which is used to populate the item data -->
    <form id="config_host_form" class="form-horizontal" data-toggle="validator" style="display: none;">
        <div class="form-group">
            <label class="col-sm-3 form-control-label">ID</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" name="id" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 form-control-label">Name</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" name="name"  pattern="^[-_A-z0-9]{1,}$"
                         maxlength="16" data-error="A name is required"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 form-control-label">Daemon URL</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" name="daemon_url"
                   disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 form-control-label">Capacity</label>
            <div class="col-sm-8">
            <input type="number" class="form-control" name="capacity"
                   min="0" max="1000" data-error="0~1000"/>
            </div>
        </div>

        <div class="form-group">
            <label  class="col-sm-3 form-control-label">Status</label>
            <div class="col-sm-8">
                  <select class="c-select" name="status" required>
                      <option value="active">Active</option>
                      <option value="inactive">Inactive</option>
                  </select>
            </div>
        </div>

        {% if host_types|length > 0 %}
            <div class="form-group">
                <label  class="col-sm-3 form-control-label" for="host_type">Type</label>
                <div class="col-sm-8">
                    <select class="c-select" name="type" required>
                        {% for t in host_types %}
                            <option value="{{t}}">{{t|upper}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-3 form-control-label">Created</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" name="create_ts"
                   disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 form-control-label">Running Cluster</label>
            <div class="col-sm-8">
            <input type="number" class="form-control" name="clusters"
                   disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 pull-xs-right">
                <button type="button" id="save_host_button" class="btn btn-primary btn-default">Save</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
            </div>
        </div>
    </form>

<div id="newHostModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a host</h4>
      </div>
      <div class="modal-body">
          <form role="form" id="add_new_host_form"
                data-toggle="validator">
              <div class="form-group has-feedback">
                  <label for="host_name">*Name (less than 16 chars)</label>
                  <input id="host_name" name="name" type="text" pattern="^[-_A-z0-9]{1,}$"
                         maxlength="16" class="form-control"  placeholder="Host_Name" data-error="A name is required" required autofocus>
              </div>

              <div class="form-group has-feedback">
                  <label for="host_daemon_url">*Daemon URL</label>
                  <input id="host_daemon_url" type="text" name="daemon_url" pattern="^(\d+)\.(\d+)\.(\d+)\.(\d+):(\d+)$"
                         class="form-control" placeholder="192.168.0.1:2375"
                         data-error="That address is invalid" required>
              </div>
              <div class="form-group">
                  <label for="host_capacity">Capacity (0~1000)</label>
                  <input id="host_capacity" type="number" name="capacity"
                         class="form-control" min="0" max="1000" value=2 required>
              </div>
              {% if host_types|length > 0 %}
                  <!--
                    <div class="form-group">
                        <label for="host_type">Type</label>
                        <select id="host_type" class="c-select" name="type"
                                required>
                            <option selected
                                    value="{{host_types[0]}}">{{host_types[0]|upper }}</option>
                            {% for c in host_types[1:] %}
                                    <option value="{{c}}">{{c|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    -->
                {% endif %}
              <div class="form-group">
                  <label for="host_status">Status</label>
                  <select id="host_status" class="c-select" name="status"
                          required>
                      <option selected value="active">Active</option>
                      <option value="inactive">Inactive</option>
                  </select>
              </div>
          </form>
      </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-success btn-sm btn-default create_host_button" type="submit">Create</button>
            <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">Cancel</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete_host_confirm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to <font color="red">remove</font> the host <font color="red"><i id="title"></i></font>, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}