{% extends "layout.html" %}
{% block title %}Host Info{% endblock %}
{% block body %}
{{ super() }}
<h2>Host Information</h2>
<div class="container-fluid">
    <dl class="dl-horizontal">
        <dt>Id<dt> <dd>{{item.id}}</dd>
        <dt>Name<dt> <dd>{{item.name}}</dd>
        <dt>Status<dt> <dd>{{item.status}}</dd>
        <dt>Type<dt> <dd>{{item.type}}</dd>
        <dt>Capacity<dt> <dd>{{item.capacity|string}}</dd>
        <dt>Host URL<dt> <dd>{{item.daemon_url}}</dd>
        <dt>Create Time<dt> <dd>{{item.create_ts}}</dd>
        <dt>Clusters<dt> <dd>
        {% for c in item.clusters %}
           <a href="/cluster_info/{{ c }}">{{ c }}</a><br>
        {% endfor %}
    </dd>
    </dl>
    <!--
    <div class="container-fluid">
        <input value="Delete" type="button"
               class="btn btn-danger btn-default btn-primary delete_cluster_button"
               data-id="{{item.id}}"/>
    </div>
    -->
</div>

{% endblock %}