{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block body %}
{{ super() }}
<h2>Cluster Information</h2>
<div class="container-fluid">
    <dl class="dl-horizontal">
        <dt>Id<dt> <dd>{{item.id}}</dd>
        <dt>Name<dt> <dd>{{item.name}}</dd>
        <dt>Status<dt> <dd>{{item.status}}</dd>
        <dt>Capacity<dt> <dd>{{item.capacity}}</dd>
        <dt>Host URL<dt> <dd>{{item.daemon_url}}</dd>
        <dt>Create Time<dt> <dd>{{item.create_ts}}</dd>
        <dt>Clusters<dt> <dd> {{item.clusters}} </dd>
    </dl>
    <div class="container-fluid">
        <input value="Delete" type="button"
               class="btn btn-danger btn-default btn-primary delete_cluster_button"
               data-id="{{item.id}}"/>
    </div>
</div>

{% endblock %}