{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block body %}
{{ super() }}
<h2>content</h2>
<table>
    {% for item in items %}
    <TR>
        <TD class="c1"><IMG src="favicon.ico"></TD>
        <TD class="c2">{{item.id}}</TD>
        <TD class="c3">{{item.name}}</TD>
        <TD class="c4"><SPAN>{{item.api_url}}</SPAN></TD>
        <TD class="c5">{{item.user_id}}</TD>
    </TR>
    {% endfor %}
</table>
<form action="{{ url_for("cluster") }}" method="POST">
<input type="text" name="email" />
<input type="password" name="password" />
{{ form.csrf_token }}
</form>
{% endblock %}