{% extends "layout.html" %}
{% block title %}PoolManager Admin{% endblock %}
{% block body %}
    {{ super() }}
    <h3 class="page-header">System Overview</h3>
    <div class="container-fluid">
        <ul class="list-group col-sm-6 col-md-4">
            <li class="list-group-item  list-group-item-info">
                <button type="button" class="btn btn-sm btn-success
            btn-default pull-xs-right" data-toggle="modal"
                        data-target="#newHostModal">+</button>
                <a href="/hosts"><span class="label label-default label-pill
                 ">{{hosts|length}}</span> Deployed Hosts</a>

            </li>
            <li class="list-group-item  list-group-item-success">
                {% if available_hosts|length > 0 %}
                    <button type="button" class="btn btn-sm btn-success
                    btn-default pull-xs-right" data-toggle="modal" data-target="#newClusterModal">+</button>
                {% else %}
                    <button type="button" class="btn btn-sm btn-success btn-default pull-xs-right" data-toggle="modal" data-target="#newClusterModal" disabled>+</button>
                {% endif %}
                <a href="/clusters?col_name=active"><span class="label label-default label-pill ">{{clusters_active}}</span> Active Clusters</a>
            </li>
            <li class="list-group-item list-group-item-warning">
                <a href="/clusters?col_name=released"><span class="label label-default label-pill">{{clusters_released}}</span> Released Clusters</a>
            </li>
        </ul>
    </div>
    <h3 class="page-header">System Status</h3>
    <div class="container-fluid">
        {% if available_hosts|length <= 0 %}
            Host Status: <font color="#ff8c00"> None is available!
        </font>
        {% else %}
            Host Status: <font color="green"> {{ available_hosts|length }}/{{
                hosts|length }} are available!</font>
        {% endif %}
    <p></p>
        {% if clusters_free <= 0 %}
            Cluster Status: <font color="red">None is available!</font>
        {% else %}
            Cluster Status: <font color="green">{{ clusters_free }}/{{
                clusters_active}} are available!</font>
        {% endif %}
    <p></p>
        {% if clusters_temp > 0 %}
            In Processing: <font color="yellow">{{ clusters_temp }}</font>
        {% else %}
            In Processing: <font color="green">{{ clusters_temp }}</font>
        {% endif %}
    </div>

    <h3 class="page-header">Host Health</h3>
    <div class="container-fluid">
        {% for h in hosts %}
            {% if h.status == "active" %}
                Host {{ h.name }}: <font color="green"> {{ h.status }} </font>
            {% else %}
                Host {{ h.name }}: <font color="red"> {{ h.status }} </font>
            {% endif %}
            <p></p>
        {% endfor %}
    </div>

<!-- Modal -->
<div id="newHostModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a host</h4>
      </div>
      <div class="modal-body">
          <form role="form" id="add_new_host_form"
                data-toggle="validator">
              <div class="form-group has-feedback">
                  <label for="host_name">*Name (less than 16 chars)</label>
                  <input id="host_name" name="name" type="text" pattern="^[-_A-z0-9]{1,}$"
                         maxlength="16" class="form-control"  placeholder="Host_Name" data-error="A name is required" required autofocus>
              </div>

              <div class="form-group has-feedback">
                  <label for="host_daemon_url">*Daemon URL</label>
                  <input id="host_daemon_url" type="text" name="daemon_url" pattern="^(\d+)\.(\d+)\.(\d+)\.(\d+):(\d+)$"
                         class="form-control" placeholder="192.168.0.1:2375"
                         data-error="That address is invalid" required>
              </div>
              <div class="form-group">
                  <label for="host_capacity">Capacity (1~1000)</label>
                  <input id="host_capacity" type="number" name="capacity"
                         class="form-control" min="1" max="1000" value=2 required>
              </div>
              {% if host_types|length > 0 %}
                  <!--
                    <div class="form-group">
                        <label for="host_type">Type</label>
                        <select id="host_type" class="c-select" name="type"
                                required>
                            <option selected
                                    value="{{host_types[0]}}">{{host_types[0]|upper }}</option>
                            {% for c in host_types[1:] %}
                                    <option value="{{c}}">{{c|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    -->
                {% endif %}
              <div class="form-group">
                  <label for="host_status">Status</label>
                  <select id="host_status" class="c-select" name="status"
                          required>
                      <option selected value="active">Active</option>
                      <option value="inactive">Inactive</option>
                  </select>
              </div>
          </form>
      </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-success btn-sm btn-default create_host_button" type="submit">Create</button>
            <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">Cancel</button>
        </div>
    </div>
  </div>
</div>

<div id="newClusterModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a cluster</h4>
            </div>
            <div class="modal-body">
                <form class="form" id="add_new_cluster_form" data-toggle="validator">

                    <div class="form-group">
                        <label for="cluster_name">*Name (less than 16 chars) </label>
                        <input id="cluster_name" name="name" type="text"
                               class="form-control" pattern="^[-_A-z0-9]{1,}$"
                               placeholder="Cluster Name" data-error="A name is required" max-length="16" required >
                    </div>
                {% if available_hosts|length > 0 %}
                    <div class="form-group">
                        <label for="host"> Select a Host</label>
                        <select id="host" class="c-select" name="host_id" required>
                            <option selected value="{{ available_hosts[0].id}}">{{ available_hosts[0].name }}</option>
                            {% for h in available_hosts[1:] %}
                                <option value="{{h.id}}">{{h.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                {% if consensus_types|length > 0 %}
                    <div class="form-group">
                        <label for="consensus_type"> Select a Type</label>
                        <select id="consensus_type" class="c-select"
                                name="consensus_type"
                                 required>
                            <option selected
                                    value="{{consensus_types[0]}}">{{consensus_types[0]|upper }}</option>
                            {% for c in consensus_types[1:] %}
                                    <option value="{{c}}">{{c|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-success btn-sm btn-default create_cluster_button" type="button">Create</button>
                <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

    <p></p>

    <!--
    <h2 class="sub-header">Cluster Management</h2>
    <div class="container-fluid">
        <form class="form-inline">
            <div class="form-group">
                <label for="cluster_name">Name</label>
                <input id="cluster_name" name="name" type="text"
                       class="form-control"
                       placeholder="Cluster Name" required autofocus>
            </div>

            <div class="form-group">
                <label for="cluster_daemon_url">Host URL</label>
                <input id="cluster_daemon_url" type="text" name="daemon_url"
                       class="form-control"
                       placeholder="192.168.0.1:2375" required>
            </div>
            <button class="btn btn-primary btn-success btn-sm btn-default
        create_cluster_button"
                    type="button">Create Cluster
            </button>
        </form>
    </div>
    -->

{% endblock %}