{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Block Chain Cloud Service">
    <meta name="author" content="Baohua Yang">
    <link rel="icon" href="../static/img/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
        <title>Cluster Dashboard</title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <link href="../static/css/paginate.css" rel="stylesheet">

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
-->


<!-- Latest compiled and minified CSS -->

</head>

<body>
<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pool Manager</a>
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
          <a class="nav-item nav-link" href="/index">Dashboard</a>
          <a class="nav-item nav-link" href="#">Settings</a>
          <a class="nav-item nav-link" href="#">Profile</a>
          <a class="nav-item nav-link" href="#">Help</a>
        </nav>
          <!--
        <form class="pull-xs-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
        -->
      </div>
    </nav>

<div class="container-fluid">
    <div class="row" style="position:relative">
        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar nav-list">
                {{ nav_link("index.show", "Overview") }}
                {{ nav_link("stat.show", "System Status") }}
                {{ nav_link("host.hosts_show", "Hosts") }}
                {{ nav_link("cluster.clusters_show", "Active Clusters", type="active") }}
                {{ nav_link("cluster.clusters_show", "Inused Clusters", type="inused" ) }}
                {{ nav_link("cluster.clusters_show", "Release History", type="released") }}
                {{ nav_link("index.about", "About") }}
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-3">
            <div class="alert alert-success col-sm-6" id="success-alert" hidden>
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success! </strong>
            </div>
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>



<!--
<div class="footer container-fluid">
    <div class="container">
        <p class="text-muted">Written By: Baohua Yang, 2016</p>
    </div>
</div>
-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/jquery-2.2.3.min.js"> </script>
<script src="../static/js/bootbox.min.js"></script>
<script src="../static/js/bootstrap-notify.min.js"></script>
<script src="../static/js/validator.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/ie10-viewport-bug-workaround.js"></script>
<script src="../static/js/highcharts.js"></script>
<script src="../static/js/solid-gauge.js"></script>
<script src="../static/js/highcharts-more.js"></script>
<script src="../static/js/script.js"> </script>


</body>
</html>