{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
        <title>Admin</title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


    <!-- Custom styles for this template
     <link href="static/css/signin.css" rel="stylesheet">
      -->

    <script src="../static/js/jquery-2.2.3.min.js"> </script>
    <script src="../static/js/script.js"> </script>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pool Manager</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right nav-list">
                {{ nav_link("index.show", "Home") }}
                {{ nav_link("cluster.clusters_show", "Clusters") }}
            </ul>
            <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" style="clear:both">
        <div class="col-sm-3 col-md-2 sidebar" style="float: left">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/index">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="/clusters">Active Clusters</a></li>
                <li><a href="/clusters_released">Release Clusters</a></li>
                <li><a href="https://github.rtp.raleigh.ibm.com/blockchain/poolmanager">Gitlab Repo</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div
                class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style=" float: right">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>