{% extends "layout.html" %}
{% block title %}System Status{% endblock %}
{% block body %}
{{ super() }}

<h2 class="page-header">System Status</h2>
    <div class="container-fluid" style="width:50%; float:left">
        <div id="stat_hosts_type" style="width:45%; height:300px; margin:
         0 auto; float:left"></div>
        <div id="stat_hosts_status" style="width:45%; height:300px;
        margin: 0 auto; float:right"></div>
    </div>
    <div class="container-fluid" style="width:50%; float:right">
        <div id="stat_clusters_type" style="width:45%; height:300px; margin:
         0 auto; float:left"></div>
        <div id="stat_clusters_status" style="width:45%; height:300px;
        margin: 0 auto; float:right"></div>
    </div>

{% endblock %}